img{
	max-width:90%;
	max-height: 300px;
}
body{
	color:rgba(230, 230, 230, 1);
	background-color: rgba(35, 35, 35, 1);
	margin-left: 0px;
}
#usernameDisplay{
	font-size: 20px;
	font-weight: 300;
}
#signOutButton{
	background-color: rgba(0, 0, 0, 0);
	height:60px;
}
#pageTitle{
	font-size: 25px;
}
.store-jumbotron{
	height:500px;
	margin-left: 0px;
	margin-top: -50px;
	margin-bottom: 100px;
	background-color: rgba(55, 55, 55, 1);
}
.storeItems{
	width: 50%;
	float: left;
	height:420px;
	overflow-x: auto;
  white-space: nowrap;
}
.storeInfo{
	margin-left: 2%;
	width:44%;
	height:350px;
	float: left;
}
.sectionHeader{
	font-size: 120px;
}
.itemDiv{
	width:300px;
	height:420px;
	float:left;
	font-size:25px;
	padding:10px;
	border-color: rgba(255, 255, 255, 1);
	border-width: 4px;
	border-style: solid;
}
.productImage{
	height:100px;
}
.signUpInput{
	width:500px;
	margin-bottom: 1px;
	height:30px;
	color: rgba(100, 100, 100, 1);
}
#loginPageContent{
	margin-left: 50px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(30, 30, 30, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(30, 30, 30, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(30, 30, 30, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(30, 30, 30, 0.5);
}
#signUpErrorMessage{
	color:rgba(255, 100, 100, 1);
	font-size: 20px;
	height:20px;
}
#logInErrorMessage{
	color:rgba(255, 100, 100, 1);
	font-size: 20px;
	height:20px;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:15px;
  height:15px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px white inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
input[type='radio']:checked:before {
  background:rgba(230, 230, 230, 1);
}
.radioButtonText{
	font-size: 20px;
}
